@import url("./reset.css");
/* global styles */
@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // background-clip: padding-box;
}

html,
body {
  min-height: 100vh;
  // width: 100vw;
  // background-color: #000a30;
  background-color: #090B17;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
}
body {
  display: grid;
  place-content: center;
  overflow-x: clip;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  flex-direction: row;
}
.col {
  flex-direction: column;
}
.row_wrap {
  flex-flow: row wrap;
}
ul, li, ol {
  list-style: none;
}
/* Section-Menu */
body {
  gap: 2rem;
}
h1 {
  font-size: xx-large;
  font-weight: bolder;
}
.scroller__wrapper {
  max-width: 600px;
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  overflow: hidden;
}
.scroller {
  width: max-content;
  display: flex;
  gap: 1rem;
  animation: scroll infinite var(--direction, forwards) var(--duration, 15s) linear;
}
.scroller li {
  padding: 1rem 2rem;
  background-color: #ffa815;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900, #010048);
  text-transform: capitalize;
}

.scroller__wrapper[data-direction="right"] {
  --direction: reverse;
}
.scroller__wrapper[data-direction="left"] {
  --direction: forwards;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}