@import url("./reset.css");
/* global styles */
@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // background-clip: padding-box;
}

html,
body {
  // min-height: 100vh;
  // width: 100vw;
  // background-color: #000a30;
  background-color: #000;
}
body {
  display: grid;
  place-content: center;
  overflow-x: clip;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  flex-direction: row;
}
.col {
  flex-direction: column;
}
.row_wrap {
  flex-flow: row wrap;
}
/* Section-Menu */
section {
  position: relative;
  width: 100vw;
  height: 100vh;
  gap: 2rem;
}
h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
}
p {
  font-size: 1.5rem;
}
.indicator {
  position: fixed;
  top: 0;
  left: 0;
  height: 10px;
  background-color: #1b5fff;
  width: 100%;
  z-index: 1000;
  transform-origin: left;
  scale: 0 1;
  animation: scroll_indicator linear;
  animation-timeline: scroll();
}
img#img {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: auto;
  object-fit: cover;
  animation: fade_imageOut linear;
  animation-timeline: view();
  animation-range: exit;
}
.img,h2,p {
  animation: fade_imageIn linear;
  animation-timeline: view();
}
@keyframes scroll_indicator {
  to {
    scale: 1 1;
  }
}
@keyframes fade_imageIn {
  from {
    scale: 0.75;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
@keyframes fade_imageOut {
  from {
    scale: 1;
    opacity: 1;
  }
  to {
    scale: 3;
    opacity: 0;
  }
}
@for $i from 1 through 4 {
  section:nth-child(#{$i}) {
    background-color: rgb(random(255), random(255), random(255));
  }
}